@media all and (max-width: 560px){
    
    /**********************/
    /*      FOOTER        */
    /**********************/
    
    #footer li{
        width: 100%;
    }
    
    
    /***********************/
    /*       POPUP         */
    /***********************/
    
    .popup{
        height: 1603px;
    }
        .popup-border{
            width: 90%;
        }
        .popup-box{
            padding: 20px;
        }
}