@media all and (max-width: 580px){
    
    /**********************/
    /*     HEADER         */
    /**********************/
    
    #header{
        padding: 0 0 0 10px;
    }
    
    /**********************/
    /*      FOOTER        */
    /**********************/
    
    #footer li{
        padding: 18px 18px;
        font-size: 21px;
    }
    
    
    /***********************/
    /*       POPUP         */
    /***********************/
    
    .popup{
        height: 1603px;
    }
        .popup-border{
            width: 90%;
        }
        .popup-box{
            padding: 20px;
        }
}

@media all and (max-width: 479px){
    
    /**********************/
    /*      FOOTER        */
    /**********************/
    
    #footer li{
        padding: 18px 12px;
        font-size: 18px;
    }
    
}

@media all and (max-width: 380px){
    
    /**********************/
    /*      FOOTER        */
    /**********************/
    
    #footer li{
        padding: 18px 12px;
        font-size: 14px;
    }
    
}